<div style="padding: 300px 0px">
    <h1 class="text-center">Welcome to my Web Application!</h1>
    <h3 class="text-center">
        This website is created for WEBD Frameworks assignment purposes.
    </h3>
</div>
